---
title: Fueled in the Alps
date: 2015-03-09 17:49 UTC
description: In March 2015, Fueled’s UK team hit the slopes of La Plagne in a weekend of snow, sun, and lots of cheese!
hero: blog-fueled-in-the-alps.jpg
hero_small: blog-fueled-in-the-alps_600.jpg
tags: Design and dev
---

## Eight months

It’s been just short of 250 days since I joined Fueled; I’ve written about [first three months](/journal/three-months-at-fueled/ "Read my journal entry about my first three months at Fueled"). This instalment of Sterlini-at-Fueled comes to you eight months since joining, and on the day after an amazing weekend came to a close.

## Finding out you’re going

I love skiing. If you’ve ever spoken to me, or you follow me on __any__ social media then you’ll know just how much I love it.

When, whilst I was in Tignes… skiing, Rob messaged me on Slack to let me know that we were heading out to the alps I couldn’t quite believe it.

> “You mean, for a team building weekend… Rameet wants to take us all skiing. Like, really? Actually?”

## Fueled hits the Alps

True enough, we came out to La Plagne (the resort I just happened to be staying in the following week with my family) and had the best weekend I could have imagined.

### The skiing

As it turns out I’m a terrible ski instructor. I did my best to coach a few of the total beginners, but I’m almost certain that I was more of a hinderance. Deruette and I got in some great runs on the Saturday; and Rameet, Rob, and the two of us went in again on the Sunday afternoon. The skiing side of the break was perfect.

I did manage to tick a bucket list item off in [skiing backwards](/bucket-list#learn-to-ski-backwards "Check out my bucket-list").

### The weather

We lucked out hard with the weather – a huge dump of snow a day before we got there, but then beaming sunshine throughout the weekend (some great panda eye tan lines were sported across the team). The sunshine meant the beginners didn’t have to battle the elements, and those who chose not to ski as much could soak up the rays and explore.

### The food

The food in the Alps is always good, and raclette-gate (which wasn’t actually a bad thing) excluded, this trip was no different. Deruette introduced me to the best way to finish off a fondue – which I’m happy to show anyone who’ll make me fondue.

I think I’ve had enough cheese to last a lifetime (or until Wednesday).

### The experience

Going away with the guys you work with day in day out (and a few from the American base), is always a great idea. I used to have a rather skeptical outlook on *team-building-jobbys*, but since joining Fueled I’ve totally reversed that opinion. Weekends like this (and the one five months ago in which we went to Thorpe Park *et al*) are what galvanise the group dynamic.

I’m lucky to work with a great bunch of dudes that all have similar interests, which made the whole experience even better still.

All in all, I couldn’t have asked for a cooler way to spend my weekend. Jealous much? That wasn’t the point of this post – but I am aware just how unusual this is, and even more so how lucky we all are to have been given this opportunity.

I know we’re all super grateful for Rameet’s generosity in flying us all out there, and in continuing to build a great place to work!

Want in? Why not [see if you’re the right fit](http://fueled.com/jobs/ "Check out which jobs we have on offer at Fueled") for life at Fueled?

## The trip relived

Here are just a few snapshots and clips from a trip that 1,000 photos wouldn’t get close to. There are probably even more on [my Instagram](https://instagram.com/robsterlini "Check out my photos an videos on Instagram").

Enjoy!

### Pictures

<div class="image-grid">
  <%= blog_image('/content/2015/03/ski-tribute-1.jpg', 'An Oxygene ski instructor – Adri – lost his life in an avalanche the week before we arrived. This was the start of the moving tribute to him…', 'A huge number of torch-lit skiers take to the slopes in tribute to Adrien', 'half') %><!--
  --><%= blog_image('/content/2015/03/ski-tribute-2.jpg', '…and this was the heart they formed when they got the bottom of the slope', 'Torch-lit skiers form a heart to commemorate a fallen ski instructor', 'half') %><!--
  --><%= blog_image('/content/2015/03/fondue.jpg', 'A shot of the mouth-watering fondue that Deruette and I shared', 'A three cheese fondue, with everything ready to be dipped into it', 'full') %><!--
  --><%= blog_image('/content/2015/03/sunset.jpg', 'Alex Lockey snapped a great shot of the sun going down over Belle Plagne', 'A candid photo of me in front of the La Plagne sunset', 'full') %><!--
  --><%= blog_image('/content/2015/03/mercure.jpg', 'Our hotel by night', 'The Hotel Mercure taken at night', 'full') %>
</div>

<%#
### Videos
%>