<% hero_image = "hotspur-related_600.jpg" %>
<% hero_loc = "#{portfolio_dir}hotspur-related/" %>
<% content_for(:hero, hero_image); content_for(:hero_loc, hero_loc) %>

<%= partial "partials/hero", locals: {
  image: hero_image,
  image_small: "hotspur-related_600.jpg",
  image_loc: hero_loc,
  arrow_hide: true,
  title: "<span class='hotspur__title__span'>How I built a website for </span>#{project.name}",
  subtitle: "#{project.description}",
} %>

<main id="main">
  <% # The brief %>
  <section class="hotspur__section--brief">
    <div class="group">
      <h2>The brief</h2>
      <p class="hotspur__paragraph__pullout">With over 50,000 followers, <a class="hotspur__link" href="https://twitter.com/hotspurrelated" title="Follow @HotspurRelated on Twitter">Hotspur Related</a> is one of the most popular Tottenham accounts on Twitter.</p>
      <p>Ross came to me about introducing a website into the mix to complement the social media avenues as a way to provide more in depth news.</p>
    </div>
  </section>

  <% # Refreshing an identity %>
  <section class="hotspur__section--refresh hotspur__refresh--new" data-js="refresh-parent">
    <div class="group">
      <h2>Refreshing an identity</h2>
      <div class="hotspur__refresh__col--left hotspur__refresh__col--content">
        <h3>A face lift</h3>
        <p>Before kicking off design on the site, I took the opportunity to give the current logo a bit of a face lift.</p>
        <p data-js="refresh-waypoint">Naturally, it was important to Ross that the logo retain it’s identity. I kept the concept the same, but balanced the weighting and the type, as well as adding a few flourishes.</p>
        <div class="hotspur__refresh__nav" data-ie="hide">
          <a class="hotspur__refresh__nav__link--old" href="#" data-refresh="old"><span class="visuallyhidden">See the </span>old logo</a><!--
        --><a class="hotspur__refresh__nav__link--new" href="#" data-refresh="new"><span class="visuallyhidden">See the </span>new logo</a>
        </div>
      </div><!--
      --><div class="hotspur__refresh__col--right hotspur__refresh__col--supporting">
        <div class="hotspur__refresh">
          <div class="hotspur__refresh__logo">
            <div class="hotspur__refresh__item--old">
              <img src="/assets/images/portfolio/hotspur-related/refresh-logo-old.png" class="hotspur__refresh__image" />
            </div>
            <div class="hotspur__refresh__item--new">
              <img src="/assets/images/portfolio/hotspur-related/refresh-logo-new.png" class="hotspur__refresh__image" />
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="hotspur__refresh__col--right hotspur__refresh__col--content">
        <h3>Making it scaleable</h3>
        <p>The logo refresh gave us the opportunity to tweak the brand to be scaleable across a variety of sizes and uses.</p>
        <p>At smaller sizes, some of the strokes retain their weight to avoid them getting to thin; smaller still we lose the <em>Hotspur Related</em>, but maintain the general ingegrity; and the favicon makes use of just the cockerel’s head and the split arches.</p>
      </div><!--
      --><div class="hotspur__refresh__col--left hotspur__refresh__col--supporting">
        <img src="/assets/images/portfolio/hotspur-related/scaleable-logos.png" class="" />
      </div>
      <div class="clearfix"></div>
      <div class="hotspur__refresh__col--left hotspur__refresh__col--content">
        <h3>Picking a super family</h3>
        <p>Before the website, Hotspur Related was limited to its Twitter and Facebook social presence where typography is predetermined and limited.</p>
        <p>Moving to its own site – which was always likely to be typographically-heavy – gave me the opportunity to pick a type family that would have the features I needed, and that extra flare that makes a good typeface great.</p>
        <p>Tisa, coupled with its Tisa Sans sibling, made the perfect choice.</p>
      </div><!--
      --><div class="hotspur__refresh__col--right hotspur__refresh__col--supporting">
        <img src="/assets/images/portfolio/hotspur-related/super-family.png" class="" />
      </div>
    </div>
  </section>

  <% # Supporting the team %>
  <section class="hotspur__section--supporting" data-plx="parent">
    <div class="hotspur__supporting__bg" data-plx="child"></div>
    <div class="group">
      <h2>Supporting the team</h2>
      <p class="hotspur__paragraph__pullout">With an account all about Tottenham Hotspur, it was important that we kept it relevant.</p>
      <p>By using big heroes that are article-specific, it keeps the homepage fresh everytime people revisit the site without it feeling alien.</p>
      <p>Keeping it on brand in the Hotspur Related blue meant that it could be used as decoration without feeling superflous or obtrusive!</p>
      <div class="browser-window hotspur__browser-window js--reveal--up" data-reveal="0.2">
        <img src="/assets/images/portfolio/hotspur-related/hero-design-browser.jpg" class="" />
      </div>
    </div>
  </section>

  <% # The brief %>
  <section class="hotspur__section--heart">
    <div class="group">
      <h2>Close to the heart</h2>
      <p class="hotspur__paragraph__pullout">Being a Tottenham fan myself made me want to put extra effort in to ensure that it did the club, and its supporters justice.</p>
      <div class="hotspur__heart__photos"><!--
      <% 5.times do |i|; %>
        --><img src="/assets/images/portfolio/hotspur-related/heart-<%= i + 1 %>.jpg" class="hotspur__heart__photo--<%= i + 1 %>" /><!--
        <% end %>
      --></div>
      <p>I’m glad to have built a site that I’m proud to associate my name with, and get a real sense of pride when people mention that they’ve seen the site (or better still, that they use it as a source for Tottenham news)!</p>
    </div>
  </section>

  <% # Features %>
  <section class="hotspur__section--features" data-plx="parent">
    <div class="hotspur__features__bg" data-plx="child"></div>
    <div class="group">
      <h2>Packed with features</h2>
      <p class="hotspur__paragraph__pullout">It was important that we made information on the site as accessible as possible, in as many ways as possible.</p>
      <p>Instead of just serving regular tags as most blogs would, I harnessed the power of the Advanced Custom Fields plugin to allow Ross to specify which tags were Totteham players.</p>
      <p>It gave me the opportunity to loop through the tags and echo out the Spurs squad, numbers and all, organised by position in a snazzy <a href="http://hotspurrelated.co.uk/the-team" title="Check out the Spurs squad on the Hotspur Related site" class="hotspur__link">team&nbsp;page</a>.</p>
      <div class="browser-window hotspur__browser-window js--reveal--up" data-reveal="0.2">
        <img src="/assets/images/portfolio/hotspur-related/features-team.jpg" />
      </div>
    </div>
  </section>

  <% # Features %>
  <section class="hotspur__section--ads">
    <div class="group">
      <h2>Working with ads</h2>
      <p class="hotspur__paragraph__pullout">It takes great levels of effort and a lot of time for Ross to maintain Hotspur&nbsp;Related.</p>
      <p>As well as providing an avenue for more in-depth articles about Spurs, it was also important that the new site provided a level of revenue – no matter how big or small - to contribute towards the time that goes to maintaining such an active Twitter&nbsp;account.</p>
      <p>Adverts on the site made sense, but only where they didn’t affect the integrity of the content. Keeping the balance was important, and Google’s new responsive ads allowed for easy integration and a device-agnostic ad&nbsp;presence.</p>
    </div>
  </section>

  <% # Features %>
  <section class="hotspur__section--reaction" data-plx="parent">
    <div class="hotspur__reaction__bg" data-plx="child"></div>
    <div class="group">
      <h2>Reaction</h2>
      <p class="hotspur__paragraph__pullout">There’s a nerve-racking time before shipping a new project. Will people like it? What will they say? Will anything go wrong?</p>
      <p>These are all worries I normally have; but with Hotspur Related I was quietly confident that it was going to go down a storm&hellip; and it did!</p>
      <p>To this date the <a href="https://twitter.com/hotspurrelated/status/551469443898179585" title="Read the tweet sent by @HotspurRelated announcing the new site" class="hotspur__link">tweet announcing the launch</a> has over 1,100 retweets; and with that some great feedback:</p>
      <% quotes = [
        {
          copy: "Looks very slick! Best of luck&hellip;",
          user: "CallumHaymes",
          link: "https://twitter.com/CallumHaymes/status/551470775170244610"
        }, {
          copy: "Very impressive! Looks great and easy to use. #COYS",
          user: "DailyHotspur",
          link: "https://twitter.com/Daily_Hotspur/status/551484847689322497"
        }, {
          copy: "Unreal site man&hellip;",
          user: "SpursViews_",
          link: "https://twitter.com/SpursViews_/status/551493039840329729"
        }, {
          copy: "Good-looking site:)",
          user: "loubylou62",
          link: "https://twitter.com/loubylou62/status/551516099943362561"
        }, {
          copy: "It is very well, congratulations. It has a nice and simple design, looks great&hellip;",
          user: "TottenhamHSpain",
          link: "https://twitter.com/TottenhamHSpain/status/551470779662348288"
        }
      ] %>
      <div class="hotspur__reaction__quotes"><!--
        <% quotes.each do |quote| %>
          --><blockquote class="blockquote--long">
            <p>&ldquo;<%= quote[:copy] %>&rdquo; <cite><a href="<%= quote[:link] %>" rel="nofollow" title="Read @<%= quote[:user] %>’s tweet" class="hotspur__link">@<%= quote[:user] %></a></cite></p>
          </blockquote><!--
        <% end %>
      --></div>
    </div>
  </section>

  <% # Features %>
  <section class="hotspur__section--til">
    <div class="group">
      <h2>Things I learnt</h2>
      <p class="hotspur__paragraph__pullout">Every project has it’s sticking points, and learning curves, but this posed a particular one.</p>
      <p>Building Hotspur Related coincided with a WordPress build I was on at Fueled, but with that excluded I’d never used WordPress properly before – shocking I&nbsp;know.</p>
      <p>I’d had experience working with basic PHP from my AnchorCMS days, so it made the transition fluid, but the ease of working with WordPress blew me away. I was able to easily customise pages, specific aspects, and more. I’m confident now that I could take on another WordPress project with few to no&nbsp;issues.</p>
      <p>With a site that wasn’t static, and wasn’t being content managed by myself, I had to make sure that the styling was robust enough to be able to deal with a variety of formats. Designing for this was relatively straight forward, but the code took a few passes to ensure the scaleability of&nbsp;it.</p>
    </div>
  </section>

  <% # Footer %>
  <section class="hotspur__section--footer">
    <div class="group">
      <h2>In action</h2>
      <p class="hotspur__paragraph__pullout">Hotspur Related now has a significantly improved web presence with which to grow its&nbsp;audience.</p>
      <p>Tottenham fan or not, I urge you to check it out – it’s a project which I am particularly proud&nbsp;of.</p>
      <p class="btns--left">
        <a href="http://hotspurrelated.co.uk" title="See the Hotspur Related site live" class="btn">hotspurrelated.co.uk</a>
      </p>
      <div class="browser-window hotspur__browser-window hotspur__footer__browser--full">
        <img src="/assets/images/portfolio/hotspur-related/footer-full.jpg" />
      </div><!--
      --><div class="browser-window hotspur__browser-window hotspur__footer__browser--mobile">
        <img src="/assets/images/portfolio/hotspur-related/footer-mobile.png" />
      </div>
    </div>
  </section>
</main>