<footer class="footer">
  <div class="group">
    <div class="footer__col--two">
      <p class="small-caps"><strong>A brief colophon</strong></p>
    	<p>Made with <%= link_to "Middleman", "https://middlemanapp.com/", :title => "Visit the Middleman website", :rel => "nofollow" %> and the <%= link_to "Fueled boilerplate", "https://github.com/Fueled/fueled-boilerplate", :title => "Fork the boilerplate on GitHub" %> in London; check out the full <%= link_to "colophon", "/colophon.html", :title => "Find out more about the inner workings of my site" %> for more information. All this is on <%= link_to "GitHub", "https://github.com/robsterlini/robsterlini.co.uk", :title => "Laugh at my code on GitHub" %> so do what you want with it, this is the internet after all. Oh, and <%= link_to "I use cookies", "/colophon.html", :anchor => "cookies", :title => "Find out which cookies are in action on this site, and how they make it better" %> to make my site better.</p>
      <p>I’m training for several triathlons, and a few other endurance events; all in order to fundraise for Macmillan Cancer Support. I’ve <%= link_to "written about it", "triathlon.html", :title => "Read about my triathlon training" %>, and I’d love a donation!</p>
    </div><!--
    --><div class="footer__col--one">
      <p class="small-caps"><strong>Sitemap</strong></p>
      <ul>
        <!--<% data.pages.masthead.each do |nav| %>
          --><li>
            <% label = nav.abbr ? "<abbr class='nav__label' title='#{nav.abbr.title}'>#{nav.abbr.label}</abbr>" : "#{nav.label}" %>
            <%= link_to label, "/#{nav.slug}", :title => nav.alt %>
          </li><!--
        <% end %>-->
      </ul>
    </div><!--
    --><div class="footer__col--one">
      <p class="small-caps"><strong>Get connected</strong></p>
      <ul>
        <!--<% data.contact.contact.each do |nav| %>
          <% if nav.link.footer != false %>
            --><li>
              <%= link_to nav.title, nav.link.href, :title => nav.link.title %>
            </li><!--
          <% end %>
        <% end %>-->
        <!--<% data.contact.social.each do |nav| %>
          <% if nav.footer != false %>
            --><li>
              <%= link_to nav.title, nav.href, :title => nav.alt %>
            </li><!--
          <% end %>
        <% end %>-->
      </ul>
    </div>
  </div>
</footer>