<div class="hero" data-plx="parent">
  <div class="hero__bg" data-plx="child" data-hero="<%= image %>" data-hero-small="<%= image_small || image %>" data-location="<%= image_loc %>">
  </div>
  <div class="hero__headers" data-js="header-to-offset">
    <div class="group">
      <% set_layout = true %>
      <% if locals.has_key? :has_layout %>
        <% if locals[:has_layout] == false %>
          <% set_layout = false %>
        <% end %>
      <% end %>
      <% if set_layout %>
        <div class="hero__headers__title">
      <% end %>
        <% if locals.has_key? :title %>
          <h1 class="hero__header--alpha" data-js="page-header"><%= title %></h1>
        <% end %>
      <% if set_layout %>
        </div><!--
        --><div class="hero__headers__excerpt">
      <% end %>
        <% if locals.has_key? :subtitle %>
          <h2 class="hero__header--beta"><%= subtitle %></h2>
        <% end %>
        <% if locals.has_key? :extra %>
          <%= extra %>
        <% end %>
        <% if set_layout %>
      </div>
      <% end %>
    </div>
  </div>
</div>