<span class="visuallyhidden" data-js="fix-tabs-to-top" aria-hidden="true"></span>
<div class="tabs__nav" data-js="fixed-tabs">
  <ul class="tabs__nav__list group sc">
    <% tab_data.each_with_index do |tab, index| %>
      <% slug = tab.slug || tab.title.to_slug %>
      <li class="tabs__nav__item<% if index == 0 %> tabs__nav__item--active<% end %>">
        <a href="#<%= slug %>" class="tabs__nav__link"><%= tab.title %></a>
      </li>
    <% end %>
  </ul>
</div>
<% tab_data.each_with_index do |tab, index| %>
  <% slug = tab.slug || tab.title.to_slug %>
  <div class="tabs__section" id="<%= slug %>" data-tab="<%= slug %>">
    <% if tab.partial %>
      <%= partial "partials/#{tab.partial}" %>
    <% else %>
      <div class="group">
        <%= partial "pages/#{page_slug}/tab_the-story" %>
      </div>
    <% end %>
  </div>
<% end %>