---
title: A feature-rich boilerplate for Middleman developed by Rob Sterlini
description: Middleplate is a feature-rich poilerplate aimed at improving your Middleman arsenal.
no_footer: true
no_masthead: true
priority: 0.8
---

<section id="content" class="wrapper">
  <div class="mp-hero">
    <div class="group">
      <h1>Installation</h1>
      <p class="mp-hero__strapline">Lock and load&hellip;</p>
    </div>
  </div>
  <div class="group">
    <h2 class="mp-stack--left">Installing Middleman</h2><!--
    --><div class="mp-stack--right">
      <p>For full Middleman installation instructions head to <%= link_to "their site", "https://middlemanapp.com/basics/install/", :title => "Read about installing Middleman on their site" %>, but here are the basics.</p
      >
      <p>Jump into terminal and lob this command at it (you may need to <code>sudo</code> it):</p>
      <pre><code>$ gem install middleman</code></pre>
      <p>This gives us use of three main commands: <code>middleman init</code>, <code>middleman server</code> and <code>middleman build</code>; we’ll only need the latter two, but we’ll come back to them.</p>
    </div>
    <h2 class="mp-stack--left">Installing Middleplate</h2><!--
    --><div class="mp-stack--right">
      <p>There’s probably a command-line way of doing this (if you want to write it up and submit a <abbr title="pull request">PR</abbr> then I’d love to include it).</p>
      <p>The easiest way (and the way I like doing it) is <%= link_to "downloading the .zip file", mp_github, :title => "Download the Middleman repo from GitGub" %> and unpacking it into your desired directory. We’ll imagine we’re building a food blog. Once you’ve done that, cd into the folder and run the server command:</p>
      <pre><code>$ cd ~/sites/food_blog
$ middleman server</code></pre>
      <p>If all goes well you’ll get this:</p>
      <pre><code class="ruby">== The Middleman is loading
== LiveReload is waiting for a browser to connect
== The Middleman is standing watch at http://0.0.0.0:4567
== Inspect your site configuration at http://0.0.0.0:4567/__middleman/</code></pre>
      <p>Navigate to <%= link_to "http://0.0.0.0:4567/", "http://0.0.0.0:4567/" %> or <%= link_to "http://localhost:4567/", "http://localhost:4567/" %> (the former sometimes has issues in Chrome), and you’ll see your brand new Middleplate development in action!</p>
      <p class="btns--center"><%= link_to "<span class='btn__subtitle'>Next up </span>Start <abbr title='developing'>devving</abbr>", "development", :title => "Start developing your Middleplate build", :class => "btn" %></p>
    </div>
  </div>
</section>