<%
  default_pre = data.pages.heading.pre

  set_pre_underline = data.pages.heading.pre_underline
  set_pre = Hash.new
  
  if pre[:width] and pre[:indent]
    set_pre = pre
  elsif pre[:width]
    set_pre[:width] = pre[:width]
    set_pre[:indent] = default_pre[:indent]
  elsif pre[:indent]
    set_pre[:width] = default_pre[:width]
    set_pre[:indent] = pre[:indent]
  else 
    set_pre = default_pre
  end
%>

<br>
<% tag = title[:tag] || "h2" %>

<section>
  <div class="group">
  <<%= tag %> class="heading">
    <b class="heading__pre__underline <%= _g(set_pre_underline[:width], "") %><%= _g(set_pre[:indent], "i") %>" aria-hidden="true"></b>
    <span class="heading__pre <%= g(set_pre) %>"><%= pre[:copy] %> </span>

    <b class="heading__break" aria-hidden="true"></b>
    <span class="<%= g(title) %>"><span class="h--<% if tag == "h1" %>alpha<% else %>beta<% end %>"><%= title[:copy] %></span></span>
  </<%= tag %>>

  <% if locals.has_key? :text %><!--
    <% text[:copy].each_with_index do |copy, index| %>
      --><div class="heading__text<%= g(text) %>" data-js="append-age-warning">
        <%
          is_blockquote = text[:blockquote] || false
          if is_blockquote
        %>
          <blockquote>
        <% end %>
        <% if copy.is_a? String %>
          <p><%= copy %></p>
        <% else %>
          <% copy.each do |p| %>
            <p><%= p %></p>
          <% end %>
        <% end %>
        <% if is_blockquote %>
          </blockquote>
        <% end %>
        <% if text[:cta] %>
          <p class="btns--left">
            <% text[:cta].each_with_index do |cta, i| %>
              <%= link_to cta[:text], cta[:link], :class => "btn--primary" %>
            <% end %>
          </p>
        <% end %>
      </div><!--
    <% end %>-->
  <% end %>
  <% if locals.has_key? :extras %>
    <%= extras[:end] %>
  <% end %>
  <% if locals.has_key? :images %>
    <% if images[:absolute] %>
        <% images[:absolute].each do |image| %>
      <div class="heading__images--absolute"<% if image[:top] %> style="top:<%= image[:top] %>;"<% end %><% if !image[:src] %> aria-hidden="true"<% end %>>
          <% if image[:kite] %>
          <div class="gc <%= g(image) %>">
            <div class="heading__image__kite--<% if image[:outline] %><% if image[:src] %>border<% else %>outline<% end %><% else %>default<% end %>">
              <% if image[:src] %>
                <b style="background-image: url(<%= image[:src] %>);">
              <% end %>
              </b>
            </div>
          </div>
          <% end %>
      </div>
        <% end %>
    <% end %>
  <% end %>
  </div>
</section>