<%
  
  set = set || Hash.new
  slug = slug || false

  # Pre
  pre = pre || set[:pre] || false
  if pre
    pre_classes = " g_7"
    if pre.is_a? String
      pre_text = pre
    else
      pre_text = pre[:copy]
      if pre[:classes]
        pre_classes = pre[:classes]
      end 
    end
  end

  # Title
  title = title || set[:title] || false
  if title
    title_tag = "h2"
    title_tag_beta = false
    title_classes = " g_7 gi_1-l"
    title_break = true
    if title.is_a? String
      title_text = title
    else
      title_text = title[:copy]
      if title[:classes]
        title_classes = title[:classes]
      end
      if title[:tag]
        if title[:tag] == "h1-b"
          title_tag = 'h1'
          title_tag_beta = true
        else
          title_tag = title[:tag]
        end
      end
      if title[:break] == false
        title_break = false
      end
    end
  end

  # Text
  text = text || set[:text] || false
  if text
    text_blockquote = false
    text_cta = Array.new
    text_classes = " g_5 gi_1-l"
    text_alpha = ""
    if text.is_a? Array
      text_copy = text
    else
      text_copy = text[:copy]
      if text[:blockquote]
        text_blockquote = true
      end
      if text[:cta]
        text_cta = text[:cta]
      end
      if text[:classes]
        text_classes = text[:classes]
      end
      if text[:alpha]
        text_alpha = " _p1"
      end
    end
  end

  # Images
  images = images || set[:images] || false
%>

<section class="heading<% if slug %> heading--<%= slug %><% end %>">
  <div class="group">
  <% if title %>
    <<%= title_tag %> class="heading"><!--
      <% if pre %>
        --><b class="heading__pre__underline g_2 g_1-m" aria-hidden="true"></b>
        <span class="heading__pre <%= pre_classes %>"><%= pre_text %> </span><!--
      <% end %>

      <% if title_break %>
        --><b class="heading__break" aria-hidden="true"></b><!--
      <% end %>
      --><span class=" <%= title_classes %>"><span class="h--<% if title_tag == "h1" && !title_tag_beta %>alpha<% else %>beta<% end %>"><%= title_text %></span></span>
    </<%= title_tag %>>
  <% end %>

  <% if text %><!--
    <% text_copy.each_with_index do |copy, index| %>
      <%
        if text_classes.is_a? String
          copy_classes = text_classes
        else
          copy_classes = text_classes[index]
        end
      %>
      --><div class="heading__text <%= copy_classes %>" data-js="append-age-warning">
        <% if text_blockquote %>
          <blockquote>
        <% end %>
        <% if copy.is_a? String %>
          <p class="<%= text_alpha %>"><%= copy %></p>
        <% else %>
          <% copy.each do |p| %>
            <p class="<%= text_alpha %>"><%= p %></p>
          <% end %>
        <% end %>
        <% if text_blockquote %>
          </blockquote>
        <% end %>
        <% if text_cta %>
          <p class="btns--left">
            <% text_cta.each_with_index do |cta, i| %>
              <%= link_to cta[:text], cta[:link], :class => "btn--primary" %>
            <% end %>
          </p>
        <% end %>
      </div><!--
    <% end %>-->
  <% end %>
  <% if locals.has_key? :extras %>
    <%= extras[:end] %>
  <% end %>
  <% if images %>
    <% if images[:absolute] %>
        <% images[:absolute].each do |image| %>
      <div class="heading__images--absolute"<% if image[:top] %> style="top:<%= image[:top] %>;"<% end %><% if !image[:src] %> aria-hidden="true"<% end %>>
          <div class="gc <%= image[:classes] || "" %>">
            <div class="heading__image__kite--<% if image[:outline] %><% if image[:src] %>border<% else %>outline<% end %><% else %>default<% end %>">
              <% if image[:src] %>
                <b style="background-image: url(<%= image[:src] %>);"></b><i></i>
              <% end %>
              </b>
            </div>
          </div>
        </div>
        <% end %>
    <% end %>
  <% end %>
  </div>
</section>