---
title: The Archive
description: Here’s a repository of all of my ramblings from over the years. Some of them are pretty old though, so 2014 me doesn’t necessarily agree with 2012 me!
---

<div class="col col--33">
  <h1 class="_h1"><%= current_page.data.title %></h1>
  <p class="_p1"><%= current_page.data.description %></p>
</div>
<div class="col col--66 col--break">
  <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
    <h2 class="_h2" id="<%= year %>"><%= year %></h2>
    <% articles.each_with_index do |article, i| %>
      <h3 class="_h3"><%= link_to article.title, article %></h3>
      <p class="_h4"><%= partial "partials/journal/posted", :locals => { :a => article } %> in <%= partial "partials/journal/category", :locals => { :a => article } %></p>
      <p class="_p"><em><%= article.data.description %></em></p>
    <% end %>
  <% end %>

  <%= partial "partials/journal/categories" %>
</div>
