---
title: Curriculum Vitae
description: A brief look at my employment, education and extra curriculars.
no_masthead: true
no_footer: true
---

<% # Back to about me %>
<div class="btns--menu btns--about-menu">
  <a href="/portfolio" title="Go back to my portfolio" class="btn btn--icon ss-nav-about"><span class="btn__label">Back to about me</span></a>
</div>

<section id="content" class="wrapper">
  <main>
    <article class="cv__content group" data-anchors>
      <h1><%= current_page.data.title %></h1>
      <p class="article__description">In short I graduated from the University of Reading with a first-class degree in Typography, I work at Fueled, and in my spare time I’m in triathlon training, watching Spurs or playing with <span class="sc">LEGO</span>.</p>
      <%# START EMPLOYMENT %>
      <h2 id="employment">Employment</h2>
      <% data.cv.employment.each do |item| %>
        <h3 class="cv__title"><span class="cv__title--org"><%= item.title %></span><% if item.date %> <span class="cv__title--date"><%= item.date %></span><% end %></h3>
        <p class="small-caps cv__subtitle"><%= item.subtitle %></p>
        <% if item.copy; item.copy.each do |text| %>
          <p><%= text %></p>
        <% end; end %>
      <% end %>
      <%# END EMPLOYMENT %>
      <%# START EDUCATION %>
      <h2 id="education">Education</h2>
      <% data.cv.education.each do |item| %>
        <h3 class="cv__title"><span class="cv__title--org"><%= item.title %></span><% if item.date %> <span class="cv__title--date"><%= item.date %></span><% end %></h3>
        <p class="small-caps cv__subtitle"><%= item.subtitle %></p>
        <% if item.copy; item.copy.each do |text| %>
          <p><%= text %></p>
        <% end; end %>
      <% end %>
      <%# END EDUCATION %>
    </article>
  </main>
</section>