---
title:  Eating clean
description: As part of my training, my PT has suggested keeping a food diary. This is pretty much entirely for me, but feel free to peruse as you wish.
---
<%
  # Meal shorthands
  BFS = "<abbr title='A home-made smoothie with oats, banana, skimmed milk and vanilla extract'>Breakfast smoothie</abbr>"
  BFSe = "#{BFS}; and an espresso"
%>
<section id="content" class="wrapper">
  <main data-anchors>
    <article class="type group">
      <h1><%= current_page.data.title %></h1>
      <p class="article__description"><%= current_page.data.description %></p>
      <% data.food.months.each_with_index do |month, index| %>
        <h2 id="<%= month.month.to_slug %>"><%= month.month %></h2>
        <% month.food.each_with_index do |food, index| %>
          <h3 class="food__date" id="<%= Date.parse(food.date).strftime("%d-%m-%Y") %>"><time title="<%= Date.parse(food.date).strftime("%d-%m-%Y") %>"><%= Date.parse(food.date).strftime("%A %e %B") %></time></h3>
          <div class="food__list"><!--
            <% ["breakfast", "lunch", "dinner", "snacks"].each do |meal| %>
              <%
                if meal == "breakfast"
                  set_meal = food.breakfast
                elsif meal == "lunch"
                  set_meal = food.lunch
                elsif meal == "dinner"
                  set_meal = food.dinner
                elsif meal == "snacks"
                  set_meal = food.snacks
                end
              %>
              --><div class="food__meal--<%= meal %>">
                <p class="food__label small-caps"><strong><%= meal.capitalize %></strong></p>
                <% if set_meal %>
                <ul class="list--no-bullet">
                  <% set_meal.each do |meal| %>
                    <%
                      content = meal.food
                      modified_content = content % { :BFS => BFS, :BFSe => BFSe }
                    %>
                    <li><%= "<strong>#{meal.time}</strong> #{modified_content}" %></li>
                  <% end %>
                </ul>
                <% else %>
                  <p>No <%= meal %> recorded yet.</p>
                <% end %>
              </div><!--
            <% end %>
          --></div>
        <% end %>
      <% end %>
    </article>
  </main>
</section>