---
description: Frontend Developer from London with a passion for design, typography, and user experience.
page_classes: page--home page--full-hero
priority: 1.0
hero: home/home
---

<div class="col">
  <h1 class="_h1">Hi!</h1>
  <p class="_p1">I’m Rob Sterlini. By day I’m a Senior Frontend Developer at <a href="https://fueled.com/sterlini" target="_blank">Fueled</a>; by night I swap that for being an amateur triathlete, running-evangelist, and <span class="sc">LEGO</span> master&nbsp;builder.</p>
</div>
<div class="col col--break">
  <p class="_p _t--dropcap">At Fueled I’ve created sites for global business, tech startups, established brands, and the like. It has also afforded me the opportunity to push the boundaries of the web, with imaginative case studies, and boundless&nbsp;capabilities.</p>
  <p class="_p">As a freelance creative developer and in past jobs, I’ve had the great pleasure of working with friends like the guys at <a href="/projects/#kickpush">Kickpush</a>. Reimagining the <a href="/projects/#university-of-reading/">University of Reading</a> site was pretty special given my fond love for my time&nbsp;there!</p>
  <p class="_p btns">
    <%= link_to "Say hi", "/contact.html", :class => "btn" %>
    <%= link_to "See my work", "/projects.html", :class => "btn" %>
  </p>
</div>
<div class="col col--break">
  <% blog.articles.take(1).each_with_index do |article, i| %>
    <h2 class="_h3"><%= article.title %></h2>
    <p class="_h4"><%= partial "partials/journal/posted", :locals => { :a => article } %> in <%= partial "partials/journal/category", :locals => { :a => article } %></p>
    <p class="_p"><em><%= article.data.description %></em></p>
    <p class="_p btns">
      <a href="<%= article.url %>" class="btn">Read the post</a>
      <%= link_to "Browse the archive", "/archive.html", :class => "btn" %>
    </p>
  <% end %>
</div>