---
title: A written insight into the world of Rob Sterlini
nav: journal
priority: 0.95
---

<main class="wrapper" id="main">
  <% page_articles.take(5).each_with_index do |article, i| %>
    <% t_name = ''; t_link = ''; article.tags.each do |tag, articles| %>
      <% t_link = tag_path(tag); t_name = tag %>
    <% end %>
    <% localised_date = "<time>#{article.date.strftime("%e %b %y")}</time>" %>
    <% if i == 0 %>

    <article class="group">
      <header class="intro">
        <h1><%= article.title %></h1>
        <p class="intro__p"><%= article.data.description %></p>
        <p class='intro__date small-caps'>
          <%= partial "partials/journal/posted", :locals => { :a => article } %> <br /><%= partial "partials/journal/category", :locals => { :a => article } %>
        </p>
      </header>
    </article>

        <article class="type group">
        <h2>Recent journal posts</h2>
      <% else %>
    <% end %>
    <h3><%= link_to article.title, article %></h3>
    <p><%= article.data.description %></p>
    <p class="small-caps"><%= partial "partials/journal/posted", :locals => { :a => article } %> • <%= partial "partials/journal/category", :locals => { :a => article } %></p>
  <% end %>

    <p class="btns--center"><a href="/archive" class="btn" title="See the rest of my blog entries">There are more in the archive</a></p>

    <h2>Categories</h2>
    <ul class="categories"><!--
      <% blog.tags.each do |tag, articles| %>
        --><li class="category__item"><%= link_to "#{tag}", tag_path(tag), :class => "category__link ss-cat-#{tag.to_slug}", :title => "Read the #{articles.size} posts on #{tag}" %></li><!--
      <% end %>
    --></ul>

    </article>
</main>