---
title: Moments
description: A few select moments in my life commemorated with photos
---

<div class="col _t--center">
  <h1 class="_h1"><%= current_page.data.title %></h1>
  <p class="_p1"><%= current_page.data.description %></p>
  
  <% data.moments["_all"].each_with_index do |m, index| %>
    <% moment = data.moments[m] %>
    <h2 class="_h2" data-hero-dynamic="<%= index %>"><a href="/moments/<%= m %>/"><%= moment["title"] %></a></h2>
    <p class="_h4" data-hero-dynamic="<%= index %>"><%= moment["date"] %></p>

    <% if moment.hero
      moment_hero = moment.hero
      if moment.hero === true
        moment_hero = "moments/#{m}"
      end
    %>
      <%= partial "partials/hero", :locals => { :hero => moment_hero, :dynamic => index } %>
    <% end %>
  <% end %>

</div>
