---
page_classes: page--moment page--full-hero
---

<%
  moment = data.moments[m]
  title = moment.title || ""
  description = moment.description || ""
  sections = moment.sections || Hash.new

  content_for(:title, title)
  content_for(:meta_description, description)

  if moment.hero
    if moment.hero === true
      content_for(:hero, "moments/#{m}")
    else
      content_for(:hero, moment.hero)
    end
  end
%>

<div class="col moment" data-anchors>
  <h1 class="_h1 _h1--first _t--center"><%= "#{title.dup.gsub ' and ', ' <span class=\"sc\">&</span> '}" %></h1>
  <p class="_h4 _t--center"><%= moment.date %></p>
  <p class="_p1 _t--center"><%= description %></p>
  
  <% sections.each_with_index do |section, index| %>
    <h2 class="_h2" id="<%= section["title"].to_slug %>"><%= section["title"] %></h2>
    <% if section["subtitle"] %>
      <p class="_h4"><%= section["subtitle"] %></p>
    <% end %>
    <% if section["description"] %>
      <p class="_p"><%= section["description"] %></p>
    <% end %>
    <% section_images = section["images"] || Hash.new %>
    <% section_images.each_with_index do |image, index| %>
      <%
        locals = Hash.new
        if image["src"]
          locals["image"] = image["src"]
        end
        if image["caption"]
          locals["caption"] = image["caption"]
        end
        if image["alt"]
          locals["alt"] = image["alt"]
        end
        locals["position"] = "grid-#{image["size"] || "full"}"
        if image["link"]
          locals["link"] = image["link"]
          if image["link_text"]
            locals["link_text"] = image["link_text"]
          end
        end
      %>

      <%= partial "partials/figure", locals: locals %>
    <% end %>
  <% end %>
</div>