---
title: My life’s work
nav: portfolio
description: I’ve always been told that “If a job’s worth doing, it’s worth doing well…” I prefer to go one further and create something that I’m proud enough to shout about!
priority: 0.9
---

<main id="content" class="wrapper">
  <div class="group visuallyhidden">
    <h1><%= current_page.data.title %></h1>
    <p class="article__description"><%= current_page.data.description %></p>
  </div>
  <%#= partial "partials/hero", locals: {
    title: current_page.data.title,
    subtitle: current_page.data.description
  } %>
  <% data.projects.featured.each_with_index do |project, index|
    project_image = image_tag"portfolio/#{project.slug}/portfolio-image.jpg", :alt => "Preview of #{project.name}"
    project_buttons = ""
    if project.buttons
      project_buttons += "<p class=\"btns--left\">"
      if project.buttons.case_study != false
        project_buttons += link_to("Read the case study", project.buttons.case_study, :title => "Read about the process", :class => "btn")
      end
      if project.buttons.live != false
        project_buttons += link_to(project.buttons.live_btn || "See it live", project.buttons.live, :title => "See this project live", :class => "btn--outline")
      end
      if project.buttons.dribbble != false
            project_buttons == link_to("See it on Dribbble", project.buttons.dribbble, :title => "See this project on Dribbble", :class => "btn--outline")
          end
          project_buttons += "</p>"
        end
        project_copy = "<div class=\"browser-window browser-window--portfolio\"><div class=\"browser-window__overflow\">#{project_image}</div></div>"
        project_copy += "<h2>#{project.name}</h2>"
        project_tech = project.tech ? " • #{project.tech}" : ""
        project_copy += "<p class=\"small-caps\">#{project.date} • #{project.role}#{project_tech}</p>"
        project_copy += "<p>#{project.description}</p>" 
        
        project_copy += project_buttons
      %>
      <%= partial "partials/hero", locals: {
        image: "#{project.slug}.jpg",
        image_small: "#{project.slug}.jpg",
        image_loc: "/assets/images/portfolio/#{project.slug}/",
        extra: project_copy
      } %>

      <div class="portfolio-featured__item" data-pl="parent" style="display: none !important;">
        <div class="portfolio-featured__bg" data-pl="child" style="background-image:url('/assets/images/portfolio/<%= project.slug %>/<%= project.slug %>.jpg')"></div>
          <div class="portfolio-featured__copy">
            <div class="group">
              
                  <%= image_tag "portfolio/#{project.slug}/portfolio-image.jpg", :alt => "Preview of #{project.name}" %>
                </div>
              </div><!--
              --><div class="portfolio__copy">
                <h2><%= project.name %></h2>
                <p class="small-caps"><%= project.date %> • <%= project.role %><% if project.tech %> • <%= project.tech %><% end %></p>
                <p><%= project.description %></p>
                <% if project.buttons %>
                  <p class="btns--left">
                  <% if project.buttons.case_study != false %>
                    <%= link_to "Read the case study", project.buttons.case_study, :title => "Read about the process", :class => "btn" %>
                  <% end %>
                  <% if project.buttons.live != false %>
                    <%= link_to project.buttons.live_btn || "See it live", project.buttons.live, :title => "See this project live", :class => "btn--outline" %>
                  <% end %>
                  <% if project.buttons.dribbble != false %>
                    <%= link_to "See it on Dribbble", project.buttons.dribbble, :title => "See this project on Dribbble", :class => "btn--outline" %>
                  <% end %>
                  </p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <% #OTHER PROJECTS %>
    <div class="group">
      <h2 id="other-work">Other work</h2>
        <p class="article__description--smaller">This is a range of work from small freelance work, to university briefs, to side projects for a laugh, and anything in between.</p>
        <div class="portfolio-other"><!--
        <% data.projects.other.each do |project| %>
          --><div class="portfolio-other__item">
            <h3><%= project.name %></h3>
            <p class="small-caps"><%= project.year %> • <%= project.role %><% if project.tech %> • <%= project.tech %><% end %></p>
            <% project.copy.each do |text| %>
              <p><%= text %></p>
            <% end %>
          </div><!--
        <% end %>
      --></div>
    </div>
</main>