---
title: My life’s work
nav: portfolio
description: I’ve always been told that “If a job’s worth doing, it’s worth doing well…” I prefer to go one further and create something that I’m proud enough to shout about!
---

<section id="content" class="wrapper">
  <main>
    <article class="type group">
      <h1><%= current_page.data.title %></h1>
      <p class="article__description"><%= current_page.data.description %></p>
      <% #FEATURED %>
      <% data.projects.featured.each do |project| %>
        <div class="portfolio__item--has-image">
           <div class="browser-window">
            <div class="browser-window__overflow">
              <%= image_tag "portfolio/#{project.slug}/portfolio-image.jpg" %>
            </div>
          </div><!--
          --><div class="portfolio__copy">
            <h2><%= project.name %></h2>
            <p class="small-caps"><%= project.date %> • <%= project.role %></p>
            <p><%= project.description %></p>
            <% if project.buttons %>
              <p class="btns">
                <% if project.buttons.case_study != false %><a class="btn" href="/portfolio/st-georges-jcr-2013-14" title="Read about the process">Read the case study</a><% end %>
                <% if project.buttons.live != false %><a class="btn--outline" href="<%= project.buttons.live %>" title="See this project live">See it live</a><% end %>
              </p>
            <% end %>
          </div>
        </div>
      <% end %>

      <% #OTHER PROJECTS %>
      <% data.projects.other.each do |project| %>
      <% end %>
    </article>
  </main>
</section>