---
page_classes: page--project page--full-hero page--colours
---

<%
  project = data.projects[p]

  title = project.title || ""
  description = project.description || ""
  colours = project.colours || Hash.new
  sections = project.sections || Hash.new

  content_for(:title, title)
  content_for(:meta_description, description)
  # content_for(:page_classes, "")

  if project.hero
    if project.hero === true
      content_for(:hero, "projects/#{p}")
    else
      content_for(:hero, project.hero)
    end
  end
%>

<div class="col project" data-anchors>
    <h1 class="_h1 _h1--first _t--center"><%= "#{title.dup.gsub ' and ', ' <span class=\"sc\">&</span> '}" %></h1>
    <p class="_h4 _t--center">
      <%= project.subtitle %> 
      <% if project.link %>
        <% if project.link.url && project.link.text %>
          • <a class="link--plain" href="<%= project.link.url %>"><%= project.link.text %></a>
        <% end %>
      <% end %>
    </p>
    <p class="_p1 _t--center"><%= description %></p>

    <% sections.each do |s| %>
      <% section = sections[s[0]] %>
      <h2 class="_h2"><%= section["title"] %></h2>
      <% section_copy = section["copy"] || Hash.new %>
      <% section_copy.each do |copy| %>
        <p class="_p"><%= copy %></p>
      <% end %>
      <% if section['link'] %>
        <%
          section_link_url = ""
          section_link_text = "View project"
          if project.link
            if project.link.url
              section_link_url = project.link.url
            end
          end
          if section['link'].is_a?(Hash)
            if section['link']['url']
              section_link_url = section['link']['url']
            end
            if section['link']['text']
              section_link_text = section['link']['text']
            end
          end
          if section_link_url && section_link_text
        %>
          <p class="_p">
            <a class="btn" href="<%= section_link_url %>"><%= section_link_text %></a>
          </p>
        <% end %>
      <% end %>
    <% end %>
</div>

<style type="text/css">
  :root {
    --type-h1:     <%= colours['accent-light'] %>;
    --button:      <%= colours['accent-light'] %>;
    --body-border: <%= colours['accent-mid'] %>;
    --selection:   <%= colours['accent-mid'] %>;
  }
</style>