---
page_classes: page--project page--full-hero page--colours
---

<%
  project = data.projects[p]

  title = project.title || ""
  description = project.description || ""
  colours = project.colours || Hash.new
  sections = project.sections || Hash.new

  content_for(:title, title)
  content_for(:meta_description, description)
  # content_for(:page_classes, "")

  if project.hero
    if project.hero === true
      content_for(:hero, "projects/#{p}")
    else
      content_for(:hero, project.hero)
    end
  end
%>

<div class="col project" data-anchors>
    <h1 class="_h1 _h1--first _t--center"><%= "#{title.dup.gsub ' and ', ' <span class=\"sc\">&</span> '}" %></h1>
    <p class="_h4 _t--center">
      <%= project.subtitle %> 
      <% if project.link %>
        <% if project.link.url && project.link.text %>
          • <a href="<%= project.link.url %>"><%= project.link.text %></a>
        <% end %>
      <% end %>
    </p>
    <p class="_p1 _t--center"><%= description %></p>

    <% sections.each do |s| %>
      <% section = sections[s[0]] %>
      <h2 class="_h2"><%= section["title"] %></h2>
      <% section_copy = section["copy"] || Hash.new %>
      <% section_copy.each do |copy| %>
        <p class="_p"><%= copy %></p>
      <% end %>
    <% end %>
</div>

<style type="text/css">
  :root {
    --type-h1:                <%= colours['accent-mid'] %>;
    --body-border:            <%= colours['accent-mid'] %>;
    --nav-color:              <%= colours['accent-light'] %>;
    --link-primary-underline: <%= colours['accent-mid'] %>;
    --link-primary:           <%= colours['accent-light'] %>;
    <% (colours.overrides || Hash.new).each do |c| %>
      --<%= c[0] %>: <%= colours[c[1]] %>
    <% end %>
  }
</style>