---
---
<% content_for(:title, "#{tagname}") %>
  <article class="ts group">

    <h1><%= tagname %></h1>
    
    <% page_articles.each_with_index do |article, i| %>
      <% localised_date = "<time>#{article.date.strftime("%a %e %b")}</time>" %>
      <h3><%= link_to article.title, article %></h3>
      <p><%= article.data.description %></p>
      <p class="small-caps"><%= partial "partials/journal/posted", :locals => { :a => article } %></p>
    <% end %>

    <%= partial "partials/journal/categories" %>
  </article>