---
title: 2015 is all about fundraising for Macmillan
nav: home
description: I’ve made 2015 about doing endurance events, and pushing my limits… all in the name of raising as much as I can for Macmillan.
donate_url: http://uk.virginmoneygiving.com/RobSterlini
---

<section id="content" class="wrapper" data-page="home">
  <%= partial "partials/hero", locals: {
    image: "triathlon.jpg",
    title: "Triathlons and more for Macmillan",
    subtitle: current_page.data.description,
    extra: "<p class='btns'><a class='btn' href='#{current_page.data.donate_url}' title='Help me raise money for the amazing work Macmillan do'>Help Macmillan</a><a class='btn--outline' href='#main' title='See how I’m doing it'>Read about what I’m doing</a></p>"
  } %>
  <main id="main">
    <article class="group">
  <div class="article__fixed-header" data-js="fixed-header">
  <a class='btn' href='<%= current_page.data.donate_url %>' title='Help me raise money for the amazing work Macmillan do'>Help Macmillan</a>
  </div>
      <h2 id="a-bit-of-background">A bit of background</h2>
      <p>Late 2014 I decided that a triathlon sounded like a good idea, at the time it was a pipe dream, but after a bit of researching, and an impulse decision later I’d signed up for the London Triathlon in August 2015.</p>
      <p>I’ve never done a triathlon before.</p>
      <p>As part of the sign up process you’re asked if you’re fundraising for a specific charity, and it dawned on me that I could turn this journey of intrepidation into something that might (in some small way) affect someone else’s life for the better.</p>
      <h2 id="why-macmillan" class="heading--clear">Why Macmillan?</h2>
      <div class="image--right">
        <%= partial "partials/svg/macmillan.svg" %>
      </div>
      <p>It’s estimated that <a href="http://www.macmillan.org.uk/Cancerinformation/Aboutcancer/Whogetscancer.aspx" title="Read about the facts on the Macmillan website">more than 1 in 3</a> people will develop cancer in their lifetime, chances are that you know someone that has battled, or is currently battling it.</p>
      <p>The help Macmillan provide, and the support network that they’ve developed is second to none; whether it’s explaining proceedures to those with cancer, comforting and reassuring confused loved ones, or helping assess whether someone might need to go and see a doctor.</p>
      <p>I’ve witnessed first hand the sensational work that Macmillan do every day, so couldn’t dream of a better charity to fundraise for&hellip; even if green isn’t my best look!</p>
      <h2 id="how-can-i-help">How can I help?</h2>
      <p>Fundraising is always a bit of an awkward one, but here’s it straight:</p>
      <p><strong>I’d love it if you could donate anything you can towards my effort.</strong></p>
      <p>No amount is too small. If you want to pick a specific triathlon and sponsor me by the mile, or by the number of times I cry as I struggle through <a href="#tough-mudder" title="Read about my Tough Mudder event I’ve got to come">Tough Mudder</a>.</p>
      <p class="btns--center"><a class='btn' href='<%= current_page.data.donate_url %>' title='Help me raise money for the amazing work Macmillan do'>Give anything you can to Macmillan</a></p>
      <p><strong>But!</strong> I know that sometimes it’s difficult to donate, and if you can’t, then don’t; instead I’d ask that you spread the word about the amazing work that Macmillan do, and have a read through <a href="http://www.macmillan.org.uk/" title="Visit the Macmillan website">their website</a> to see if you’re due a screening.</p>
      <h2 id="the-events">What am I doing?</h2>
      <p>Currently? <strong>Two triathlons</strong>, <strong>Tough Mudder UK</strong>, and <strong>water-only January</strong>, but I’ve got a few ballots waiting to come through, and a third triathlon in my sights.</p>
      <h3>The events</h3>
      <p>This is a bit of a <abbr title="Too long; didn’t read">TL;DR</abbr> for my events throughout this year. For a bit more information on each then keep reading!</p>
      <ul>
        <li><strong class="small-caps">January</strong> Jan-water-ary</li>
        <li><strong class="small-caps">2 May</strong> Tough Mudder UK</li>
        <li><strong class="small-caps">12 July</strong> Jenson Button Trust Triathlon</li>
        <li><strong class="small-caps">8 August</strong> The London Triathlon</li>
      </ul>
      <h3 id="jan-water-ary">Jan-water-ary</h3>
      <p>Still haven’t found a catchier, less-rubbish name for it, but meh&hellip; This January, I decided to go one further than the no-alcohol Dryathlon and <strong>only</strong> drink water.</p>
      <p>For most this may have been an easy challenge, but I love my diet coke and coffee too much so it proved tough.</p>
      <p class="btns--center">
        <a class='btn btn--fixed' href='<%= current_page.data.donate_url %>' title='Help me raise money for the amazing work Macmillan do'>Help Macmillan</a>
      </p>
    </article>
  </main>
</section>